@import "bootstrap";

// Your CSS partials
@import "components/_navbar";
@import "components/_footer";
@import "components/_connexion";
@import "components/_search-form";
@import "components/_avatar";
@import "components/_card";
@import "components/_show-post";
@import "components/_newsletters_form";
@import "components/_subscribers";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300&display=swap');
body {
  font-family: 'Noto Sans', sans-serif;
}
